@import "variable.styl"
body, html
  background-color: $color-background-d
*
  padding: 0
  margin: 0
/*
:root
overflow-y: auto;
overflow-x: hidden;


*/
:root
  overflow-x: hidden;
  overflow-y: auto;
