body, html
  background-color: #F9F9F9
  overflow-y: scroll;
*
  padding: 0
  margin: 0
:root
  overflow-y: auto;
  overflow-x: hidden;

:root body {
  position: absolute;
}

body {
  width: 100vw;
  overflow: hidden;
}
